# Database
DATABASE_URL=postgresql://postgres:myspace123@localhost:5433/myspace_db

# JWT
JWT_SECRET=tu_clave_secreta_super_segura_cambiala_en_produccion
JWT_EXPIRES_IN=7d

# Server
PORT=3000
NODE_ENV=development

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23liGaDp3dOqfRtDzY
GITHUB_CLIENT_SECRET=TU_NUEVO_CLIENT_SECRET_AQUI
GITHUB_CALLBACK_URL=http://localhost:3000/api/auth/github/callback

# Frontend
FRONTEND_URL=http://localhost:5173

# Sessions
SESSION_SECRET=a343fa58136df068392aaab72fbdac2148392b96a553f32ca5255b24bcad0d62
